# Битрикс кеш и загрузки
www/bitrix/cache/
www/bitrix/managed_cache/
www/bitrix/stack_cache/
www/upload/

# База данных
db_data/
backup.sql

# Docker
.env

# OS
.DS_Store
Thumbs.db

# Битрикс ядро
www/bitrix/modules/
www/bitrix/components/
www/bitrix/tools/
www/bitrix/admin/

# Конфиги с паролями
www/bitrix/.settings.php
www/bitrix/php_interface/dbconn.php

www/bitrix/activities/
www/bitrix/blocks/
www/bitrix/gadgets/
www/bitrix/panel/
www/bitrix/themes/
www/bitrix/tmp/
www/bitrix/wizards/