.editor-chart-block-layout {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background: transparent;
	box-sizing: border-box;
}

.editor-chart-block-layout__left-content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -18px;
	z-index: 1;
	width: 17px;
	height: 29px;
	margin: auto;
}

.editor-chart-block-layout .editor-chart-block-layout__top-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	position: absolute;
	top: -27px;
	right: 0;
	left: auto;
	height: 27px;
	white-space: nowrap;
	z-index: -2;
}

.editor-chart-block-layout__top-menu-title {
	flex: 1;
	min-width: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.editor-chart-block-layout .editor-chart-block-layout__top-menu-content {
	display: none;
	justify-content: flex-end;
	align-items: flex-start;
	height: 18px;
	padding: 0 3px;
	background: #ECF0F2; /* token will be povided later */
	border-radius: 4px;
}

.editor-chart-block-layout.--opened-menu .editor-chart-block-layout__top-menu-content {
	display: flex;
}

.editor-chart-block-layout.--hoverable:hover .editor-chart-block-layout__top-menu-content {
	display: flex;
}

.editor-chart-block-container.--highlighted .editor-chart-block-layout__top-menu-content {
	display: flex;
}

.editor-chart-block-layout.--hoverable:hover .editor-chart-block-layout__top-menu.--hide,
.editor-chart-block-layout__top-menu.--hide .editor-chart-block-layout__top-menu-content,
.editor-chart-block-layout__top-menu.--hide .editor-chart-block-layout__top-menu-title {
	display: none;
}

.editor-chart-block-layout.--hoverable .editor-chart-block-layout__top-menu.--show {
	display: flex;
}

.editor-chart-block-layout .editor-chart-block-layout__top-menu.--show {
	display: flex;
}

.editor-chart-block-layout.--hoverable:hover:after {
	content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: -6px;
    bottom: -6px;
    left: -6px;
    right: -6px;
    border-radius: 12px;
    background-color: transparent;
	box-sizing: border-box;
}

.editor-chart-block-layout .editor-chart-block-layout__content {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 4px;
	z-index: 100;
	box-sizing: border-box;
}

.editor-chart-block-layout .editor-chart-block-layout__context-menu {
	position: absolute;
	z-index: 101;
	width: 150px;
	padding: 5px;
	border-radius: 10px;
	background: transparent;
}

.editor-chart-block-layout .editor-chart-block-layout__context-menu.--show {
	display: block;
}

.editor-chart-block-layout .editor-chart-block-layout__status {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -24px;
	height: 16px;
}

.editor-chart-block-layout .editor-chart-block-layout__status.--hide {
	display: none;
}
