.ui-block-diagram-canvas-map-btn {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.ui-block-diagram-canvas-map-btn__icon {
	stroke: none;
}

.ui-block-diagram-canvas-map-btn__icon:hover {
	fill: var(--ui-color-accent-main-primary);
}
