.editor-chart-catalog-header-logo {
	padding-bottom: 4px;
	display: flex;
	text-decoration: none;
	font-size: var(--ui-font-size-2xl);
	font-weight: var(--ui-font-weight-medium);
	line-height: var(--ui-font-line-height-3xs);
	color: var(--ui-color-base-1);
}

.editor-chart-catalog-header-logo::after {
	content: '';
	width: 9px;
	height: 9px;
	position: relative;
	top: 4px;
	left: 2px;
	mask-image: url('data:image/svg+xml,<svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.99833 5.00194H6.49822V4.00192H4.99822V2.25128H3.99833V5.00194Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 0C2.01473 0 0 2.01465 0 4.49994C0 6.98522 2.01473 9 4.5 9C6.98528 9 9 6.98522 9 4.49994C9 2.01465 6.98528 0 4.5 0ZM4.5 7.99996C2.56701 7.99996 1.00005 6.4329 1.00005 4.49994C1.00005 2.56696 2.56701 1.00003 4.5 1.00003C6.43315 1.00003 8.00011 2.56696 8.00011 4.49994C8.00011 6.4329 6.43315 7.99996 4.5 7.99996Z" fill="white"/></svg>');
	mask-repeat: no-repeat;
	mask-size: contain;
	background-color: var(--ui-color-base-1);
}
