.editor-chart-menu-top-btn__menu {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 4px;
	width: 145px;
	padding: 10px;
	box-sizing: border-box;
}

.editor-chart-menu-top-btn__item {
	position: relative;
	width: 38px;
	height: 38px;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
}

.editor-chart-menu-top-btn__item.--grey {
	position: relative;
	background: transparent;
	border-color: var(--designer-bp-frame-grey-br);
}

.editor-chart-menu-top-btn__item.--grey:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	width: 27px;
	height: 27px;
	margin: auto;
	background: linear-gradient(to bottom right, transparent calc(50% - 1px), var(--designer-bp-frame-grey-br) calc(50% - 1px), var(--designer-bp-frame-grey-br) calc(50% + 1px), transparent calc(50% - 1px));
}

.editor-chart-menu-top-btn__item.--orange {
	background-color: var(--designer-bp-frame-orange-bg);
	border-color: var(--designer-bp-frame-orange-br);
}

.editor-chart-menu-top-btn__item.--blue {
	background-color: var(--designer-bp-frame-blue-bg);
	border-color: var(--designer-bp-frame-blue-br);
}

.editor-chart-menu-top-btn__item.--green {
	background-color: var(--designer-bp-frame-green-bg);
	border-color: var(--designer-bp-frame-green-br);
}

.editor-chart-menu-top-btn__item.--purple {
	background-color: var(--designer-bp-frame-purple-bg);
	border-color: var(--designer-bp-frame-purple-br);
}

.editor-chart-menu-top-btn__item.--pink {
	background-color: var(--designer-bp-frame-pink-bg);
	border-color: var(--designer-bp-frame-pink-br);
}

.editor-chart-menu-top-btn__item.--changed .editor-chart-menu-top-btn__icon-check-wrap {
	display: block;
}

.editor-chart-menu-top-btn__icon-check-wrap {
	position: absolute;
	top: -5px;
	right: -5px;
	display: none;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: white;
}

.editor-chart-menu-top-btn__icon-check {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 14px;
	height: 14px;
	background: var(--ui-color-design-filled-success-bg);
}
